.handshake{
   -webkit-animation-direction:normal;  
    margin-top: 400px;
    width: 200px;
    height: 200px;
    
}

.backgroundhands{
    background:greenyellow;
}

// .buttonStyle {
//     position: 
// }