@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Bangers|Hind|Hind+Siliguri");
@import '../../variables';

.matchHeader{
    color: $LightBlue;
    background-color: #1F2D44;
    height: 100vh;
    font-size: 40px;
    padding-top: 20px;
    font-family: Bangers;
    text-align: center;
}