@import '../../variables';
// .jobMapComponent{
//     // background:$LightBlue;
   

// }

.joblocation {
    padding-top: 100px;
    color:$LightBlue;

}

.joblist{
 color: $LightBlue;
}

.jobsearch{
color:$LightBlue ;

}

.industrycode{
    font-size: 60px;
}

.jobdistance {
    font-size: 40px;
}

.googlemap {
    z-index: 5;
}