@import '../../variables';
.jobMapComponent{
    background:$LightBlue;
}

.joblocation {
    color:$LightBlue;

}

.joblist{
 color: $LightBlue;
}

.jobsearch{
color:$LightBlue ;

}

.industrycode{
    font-size: 20px;
}

.jobdistance {
    font-size: 20px;
}