@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Bangers|Hind|Hind+Siliguri");
@import '../../variables';
// .jobMapComponent{
//     // background:$LightBlue;
   

// }

.joblocation {
    padding-top: 100px;
    color:$LightBlue;

}

.jobList{
    background-color: $GrenOutline;
}


.industrycode{
    font-size: 60px;
}

.jobdistance {
    font-size: 40px;
}

.googlemap {
    z-index: 5;
    height: 85vh;
    background-color: $GrenOutline;
}


.jobsearch{
    
    font-family: Bangers;
    padding-top: 80px;
    color:$LightBlue ;
    font-size: 40px;
    background-color: $GrenOutline;
    }

// .jobMapComponent{
//     background-color: rgb(227, 234, 245);
//     height: 45em;
//     z-index: -1;
// }