@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Bangers|Hind|Hind+Siliguri");
@import '../../variables';

.matchFinder{
    color: $LightBlue;
    background-color: $GrenOutline;
    height: 95vh;
    font-size: 40px;
    padding-top: 20px;
    font-family: Bangers;
    text-align: center;
}

.NoUser{
    width:100vw;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
    font-family: Baloo Bhai;
    background-color: #1F2D44;
    height: 100vh;
   
}




.video{
 
    width: 90% ;
    height : 80%;
     position: center;
     margin:0;
     top: 0;
     left: 0; 
    
  }
  

.card-container{
    padding-Top: 70px;
    position: center;
  
}

.userCard{
    font-family: Baloo Bhai;
    background-color: #1F2D44; 
}


// #root {
//     background-color: $GrenOutline;
//     height:90%vh;
//     width:100%vw;
// }

// //apear on page load

// .fade-appear {
//     opacity: 0;
//     z-index: 1;
// }

// .fade-appear.fade-appear-active {
//     opacity: 1;
//     transition: opacity 600ms linear;
// }



// //exit
// .fade-exit{
//     opacity: 1;   
// }

// .fade-exit.fade-exit-active {
//     opacity:0; 
//     transition: opacity 5000ms linear;
// }

// .fade-exit-done {
//     opacity: 0;
// }





// //enter

// .fade-enter {
//     opacity: 0;
//     z-index: 1;
// }

// .fade-enter.fade-enter-active {
//     opacity: 1; 
//     transition: opacity 300ms linear;
// }




// //slide enter
// .slide-endter {
//     opacity: 0;
//     transform: scale(0.97) translate(5px);
//     z-index: 1;
// }

// .slide-enter.slide-enter-active {
//     opacity: 1;
//     transform: scale(1) translateY(0);
//     transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
// }

// //slide exit 

// .slide-exit {
//     opacity: 1;
//     transform: scale(1) translateY(0);
// }

// .slide-exit.slide-exit-active {
//     opacity: 0;
//     transform: scale(0.97) translate(5px);
//     transition: opacity 1500ms linear, transform 1500ms ease-out
// }
// .slide-exit-done {
//     opacity: 0;
