@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Bangers|Hind|Hind+Siliguri");
@import '../../variables';

.matchFinder{
    color: $LightBlue;
    background-color: $GrenOutline;
    height: 85vh;
    font-size: 40px;
    padding-top: 20px;
    font-family: Bangers;
    text-align: center;
}

.NoUser{
    color: whitesmoke;
    font-size: 50px;
    padding-top: 300px;
    background-color: $GrenOutline;
    height: 85vh;
   
}