//fonts
$Hind: 'Hind', sans-serif;
$HindSiliguri: 'Hind Siliguri', sans-serif;
$Baloo: 'Baloo Bhai', cursive;
$Bangers: 'Bangers', cursive;

//colors
// black
// white

$Navyblue: #1F2D44;
$LightBlue: #2699FB;
$Teal: #5ACCC1; 
$TealtoBlue: linear-gradient(to right, #0099ff 0%, #5accc1 100%);
$BrightBlue: #4063fc;
$CameraBlue: #2699FB;
$GrenOutline: #eff4fc;