@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Bangers|Hind|Hind+Siliguri');





/*font-family: 'Hind', sans-serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Baloo Bhai', cursive;
font-family: 'Bangers', cursive;*/

 /* colors
black
white
dark blue-#1F2D44
light blue - #2699FB
teal - #5ACCC1 
gradient - linear-gradient(to right, #0099ff 0%, #5accc1 100%)


blue text header text-#4063fc
camera blue- #2699FB
grey nav bar outline- #A8B4B3
 */


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
