@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Bangers|Hind|Hind+Siliguri");
@import '../../variables';

.settingsTitle{
    color: $LightBlue;
    background: $GrenOutline;
    font-size: 40px;
    padding-top: 80px;
    
    width: 100vw;
    font-family: Bangers;
    text-align: center;
}



.settings {
   
    background: $GrenOutline;
    padding-top: 100px;
    height: 85vh
   
    
}

