@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Bangers|Hind|Hind+Siliguri");
@import '../../variables';

.settingsTitle {
    color: $LightBlue;
    background-color: $GrenOutline;
    height: 85vh;
    font-size: 40px;
    padding-top: 20px;
    font-family: Bangers;
    text-align: center;
}